body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0d0d0d;
  color: #fff;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 40px 0 20px 0;
  color: #fff;
}
